body {
   font-family: Arial, san-serif;
   background-color: #bee1eb;
   margin: 0;
   padding: 0;
}

header {
  background-color: #ae7aef;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  margin:10px
  background-color: white;
  border-radius: 8px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}